<h1>index</h1>

<ul>
<% @conversations.each do |conversation| %>
  <% # recipient = conversation.sender_id == current_user.id ? conversation.receiver : conversation.sender %>
  <li>
    <%= link_to conversation.recipient(current_user).username, conversation_messages_path(conversation) %>
    <% if !conversation.unread_message_count( current_user).zero? %>
     (<%= conversation.unread_message_count(current_user) %>)
    <% end %>
  </li>
  <% end %>
</ul>
