<footer class="footer">
  <small>
    The <a href="#">ROR</a>
    by <a href="#">Pradeep Rao</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   help_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><%= link_to "News", news_path %></li>
    </ul>
  </nav>
</footer>